@import 'utils';

.post-body {   
	.paper {     
		padding: 2rem;     
		padding-top: 2.5rem;     
		padding-bottom: 2.5rem;     
		background: white;     
		@include material-shadow(4, 0.5);     // 위로 3rem 이동시켜 주어 파란색 배경을 침범하게 합니다.     
		transform: translateY(-3rem);      
		margin: 0 auto;     
		min-height: 20rem;
		// 해상도에 따라 다른 width를 설정합니다.     
		width: 1024px;     
		@include media('<large') { 
			width: 768px; 
		}     
		@include media('<medium') { 
			width: calc(100% - 2rem); 
		}   
	} 
}