@import 'utils';   

.header {   
	background: $oc-red-9;   
	.header-content {     
		height: 5rem;     
		width: 1400px;     
		margin: 0 auto; // 가운데 정렬     
		padding-left: 3rem;     
		padding-right: 3rem; 
		// 내부 아이템 세로 가운데 정렬     
		display: flex;     
		align-items: center;

		@include media('<wide') {
			width: 100%;
		}
		@include media('<medium') {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.brand {
			color:white;
			font-size: 1.5rem;
			font-weight: 600;
		}
		.right {
			margin-left: auto;
		}
	}
}