@import 'utils'; 

.preview-pane {   
	flex: 1;   
	padding: 2rem;   
	overflow-y: auto; // 크기가 초과할 때 스크롤바 나타나게 설정   
	font-size: 1.125rem;   
	.title {     
		font-size: 2.5rem;     
		font-weight: 300;
		padding-bottom: 2rem;     
		border-bottom: 1px solid $oc-gray-4;   
	} 
}