@import 'utils';   
.editor-pane {   
	flex: 1; // 자신에게 주어진 영역 다 채우기   
	// 세로 방향으로 내용 나열   
	display: flex;   
	flex-direction: column;     
	.title {     
		background: $oc-gray-7;     
		border: none;     
		outline: none;
		font-size: 1.5rem;
		padding: 1rem;     
		color: white;     
		font-weight: 500;     
		&::placeholder {       
			color: rgba(255,255,255,0.75);     
		}   
	}     
	.code-editor {  
	   	flex: 1; // 남는 영역 다 차지     
	   	background: $oc-gray-9;     
	   	display: flex;     
	   	flex-direction: column; // .CodeMirror가 세로 영역을 전부 차지     
	   	:global .CodeMirror {       
	   		font-size: 1rem;       
	   		flex: 1;       
	   		font-family: 'D2 Coding';     
	   	}  
	}     
	.tags {     
		padding-left: 1rem;     
		padding-right: 1rem;     
		height: 2rem;     
		background: $oc-gray-7;     
		display: flex;     
		align-items: center;     
		.description {       
			font-size: 0.85rem;       
			color: white;       
			font-weight: 600;       
			margin-right: 1rem;     
		}       
		input {       
			font-size: 0.85rem;       
			border: none;       
			flex: 1;       
			background: none;       
			outline: none;       
			font-weight: 600;       
			color: rgba(255,255,255,0.9);       
			&::placeholder {         
				color: rgba(255,255,255,0.75);       
			}     
		}   
	} 
}